.landingpagecontainer {
  width: 100vw;
  height: 100vh;
  background: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landingpagecontainer nav{
 background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.landingpagecontainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color:aqua;
}

.landingpagecontainer .navlist{
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.3s;
  color: aqua;
}

.landingpagecontainer nav .navlist{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.landingmaincontainer > div:nth-child(1){
  font-size: 2.2rem;
}

.landingmaincontainer >div:nth-child(1) div[role='button']{
  background: #d97500;
  width: 150px;
  height: 50px;
  padding: 1rem;
  border-radius: 20px;
}

.landingmaincontainer >div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}



.landingmaincontainer > div:nth-child(2) img{
  height: 60vh;
  width: auto; 
}
.landingmaincontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center; 
}

.landingmaincontainer p{
  color: antiquewhite;
}
.landingmaincontainer h1{
  color: antiquewhite;
}



.btn-cont{
  display: flex;
  gap: 250px;
}